# generate with: openssl rand -hex 16
# SESSION_KEY=random-session-key

# CEREBRAS_API_KEY=your-api-key

DB_PATH=/var/lib/viperlith/
DB_FILE=viperlith.sqlite
DB_ANALYZE_INTERVAL_HOURS=4

FRAME_RATE=12
