# generate with: openssl rand -hex 16
# SESSION_KEY=random-session-key

DB_PATH=/var/lib/viperlith/
DB_FILE=viperlith.sqlite
DB_ANALYZE_INTERVAL_HOURS=4

SHM_PATH_PREFIX=/dev/shm/viperlith-worker-queues-

FRAME_RATE=12