<body class="flex flex-row h-screen bg-slate-950">
	<div class="w-64 flex flex-col bg-slate-800
				p-2 gap-2">
		<button class="px-2 h-12 bg-slate-500 hover:bg-slate-400
						hover:cursor-pointer
						rounded-md">
			(+) Open channel
		</button>
		<hr class="text-slate-500">
		<button class="px-2 h-12 overflow-hidden hover:bg-slate-700
						text-white
						border-2 border-slate-500
						hover:cursor-pointer
						rounded-md">
			Default Channel
		</button>
	</div>
	<div class="flex flex-col flex-grow">
		{#
		{% for i in con.execute("select * from channels") %}
			<div class="color-white">{{ i[0] }}</div>
			<div class="color-white">{{ i[1] }}</div>
			<div class="color-white">{{ i[2] }}</div>
		{% endfor %}
		#}

		<div class="flex flex-col flex-grow items-stretch">
			oi m8
		</div>

		<hr class="text-slate-500">

		<div class="p-2 flex justify-center items-center">
			<textarea
				type="text"
				data-bind:message.content
				data-on:keydown="evt.key == 'Enter' && !evt.shiftKey
								? (
									evt.preventDefault(),
									el.value != '' ? (
										@post('/chat/send-message', {
											filterSignals: {include: /^message/}
										})
									) : null
								) : null"
				placeholder="Type your message..."
				autocapitalize="off"
				autocomplete="off"
				autocorrect="off"
				spellcheck="false"
				class="h-32 w-full p-2 bg-slate-500
						align-top 
						rounded-md
						focus:outline-none focus:ring-2 focus:ring-cyan-100 focus:border-transparent transition duration-100
						resize-none"
			></textarea>
		</div>
	</div>
</body>