<body class="flex flex-row h-screen bg-slate-950">
	<div class="w-64 flex flex-col bg-slate-800
				p-2 gap-2">
		<button class="px-2 h-12 bg-slate-500 hover:bg-slate-400
						hover:cursor-pointer
						rounded-md">
			(+) Open channel
		</button>
		<hr class="text-slate-500">
		<button class="px-2 h-12 overflow-hidden hover:bg-slate-700
						text-white
						border-2 border-slate-500
						hover:cursor-pointer
						rounded-md">
			Default Channel
		</button>
	</div>
	<div class="flex flex-col flex-grow">
		{#
		{% for i in con.execute("select * from channels") %}
			<div class="color-white">{{ i[0] }}</div>
			<div class="color-white">{{ i[1] }}</div>
			<div class="color-white">{{ i[2] }}</div>
		{% endfor %}
		#}

		<!-- <pre data-json-signals class="text-white"></pre> -->

		<div class="flex flex-col flex-grow items-stretch">
			{% for i in con.execute("""
				select
					u.nickname,
					m.content,
					m.created_ts
				from messages m
				join users u on u.session_id = :session_id
				where m.channel_id = u.current_channel_id
				order by m.created_ts
				""",
				{"session_id": sid}
			) %}
				<div class="m-1.5 text-white">
					<p class="text-slate-500">
						{{ i[0] }}
						<span
							data-text="(new Date({{ i[2] * 1000 }})).toLocaleString()"
							class="text-slate-700 text-xs"
						></span>
					</p>
					<p>{{ i[1] }}</p>
				</div>
			{% endfor %}
		</div>

		<hr class="text-slate-500">

		<div class="p-2 flex justify-center items-center">
			<textarea
				type="text"
				data-bind:message.content
				data-indicator:_sending-message
				data-attr:disabled="$_sendingMessage"
				data-on:keydown="
					evt.key == 'Enter' && !evt.shiftKey
					&& (
						evt.preventDefault(),
						el.value != ''
						&& (
							@post('/chat/send-message', {
								filterSignals: {include: /^message/}
							}).then(() => el.value = '')
						)
					)"
				placeholder="Type your message..."
				autocapitalize="off"
				autocomplete="off"
				autocorrect="off"
				spellcheck="false"
				class="h-24 w-full p-2 bg-slate-500
						align-top 
						rounded-md
						focus:outline-none focus:ring-2 focus:ring-cyan-100
						focus:border-transparent transition duration-100
						resize-none"
			></textarea>
		</div>
	</div>
</body>