<body class="flex flex-row h-dvh bg-slate-950">
	<!-- Hamburger Icon -->
	<button
		data-signals:_side-panel-open="false"
		data-on:click="$_sidePanelOpen = !$_sidePanelOpen"
		class="w-8 h-8 m-2 absolute md:hidden text-white inset-0"
	>
		<svg fill="currentColor" viewBox="0 0 20 20" class="shadow drop-shadow">
			<path
				data-show="!$_sidePanelOpen"
				fill-rule="evenodd"
				d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
				clip-rule="evenodd"
			></path>
			<path
				data-show="$_sidePanelOpen"
				fill-rule="evenodd"
				d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
				clip-rule="evenodd"
			></path>
		</svg>
	</button>

	<!-- Left Panel -->
	<div data-class="{'flex': $_sidePanelOpen, 'hidden': !$_sidePanelOpen}"
		class="hidden md:flex flex-col w-64 min-w-64 p-2 gap-2 bg-slate-800">

		<div class="flex flex-row justify-center items-center gap-2">
			<img src="/static/favicon.png" alt="Starcord logo" style="image-rendering: pixelated; width: 32px; height: 32px;">
			<h2 class="text-white text-2xl font-audiowide text-center">Starcord</h2>
		</div>
		
		<hr class="text-slate-500">

		<button
			data-on:click="$_infoDialogOpen = true"
			class="px-2 min-h-12 bg-slate-500 hover:bg-slate-400
					hover:cursor-pointer rounded-md">
			✚ Open channel
		</button>

		{% include 'chat/create_channel_dialog.html' %}

		<div class="flex flex-col overflow-y-auto gap-2">
			{% for i in con.execute("""
				select
					c.name,
					c.id = u.current_channel_id as is_current_channel
				from channels c
				join users u on u.session_id = ?
				join channel_memberships cm on cm.user_id = u.id
				where c.id = cm.channel_id
				""",
				(sid,)
			) %}
				<button	data-on:mousedown="
							@post('/chat/channel-open', {
								payload: {channelOpen: '{{ i[0] }}'}
							})"
						{% if i[1] %} disabled {% endif %}
						class="flex flex-row justify-center items-center
								px-2 min-h-12 overflow-hidden rounded-md hover:cursor-pointer
								{% if i[1] %}
								text-black bg-slate-500
								{% else %}
								text-white hover:bg-slate-700 border-2 border-slate-500 
								active:border-cyan-100 transition duration-150
								{% endif %}">
					<span class="flex flex-grow break-all">{{ i[0] }}</span>
					<span data-on:mousedown="
							@post('/chat/channel-close', {
								payload: {channelClose: '{{ i[0] }}'}
							})"
						class="py-1 px-2 hover:bg-slate-400 rounded-md
								active:ring-2 active:ring-cyan-100 transition duration-150">
						✕
					</span>
				</button>
			{% endfor %}
		</div>

		<!-- <pre data-json-signals class="text-white"></pre> -->
		
		<input
			data-on:input__debounce.400ms="@post('/chat/nickname-set')"
			data-bind:nickname-set
			data-ignore-morph
			value="{{
				con.execute(
					'select nickname from users where session_id = ?',
					(sid,)
				).fetchone()[0]
			}}"
			type="text"
			minlength="1"
			maxlength="32"
			placeholder="nickname"
			autocapitalize="off"
			autocomplete="off"
			autocorrect="off"
			spellcheck="false"
			class="p-2 mt-auto bg-slate-700 rounded-md
					focus:outline-none focus:ring-2 focus:ring-cyan-100 focus:bg-slate-500
					focus:border-transparent transition duration-150">
		<p data-text="$_nicknameSetError" class="text-red-500"></p>
	</div>

	<!-- Messages -->
	<div class="flex flex-col flex-grow">
		<div class="flex flex-col flex-grow items-stretch
					min-h-0 overflow-y-auto">
			{% for i in con.execute("""
				select
					u.nickname,
					m.content,
					m.created_ts
				from messages m
				join users u on u.id = m.user_id
				where m.channel_id = (select current_channel_id from users where session_id = ?)
				order by m.created_ts, m.id
				limit 2500
				""",
				(sid,)
			) %}
				<div style="overflow-anchor: none;"
					class="m-1.5 text-white">
					<p class="text-slate-500">
						{{ i[0] }}
						<span
							data-text="(new Date({{ i[2] * 1000 }})).toLocaleString()"
							class="text-slate-700 text-xs"
						></span>
					</p>
					<p class="break-all">{{ i[1] }}</p>
				</div>
			{% endfor %}
			<div data-init="el.scrollIntoView()"></div>
			<div id="scroll-anchor" style="overflow-anchor: auto; min-height: 1px;"></div>
		</div>

		<hr class="text-slate-500">

		<div class="p-2 flex justify-center items-center">
			<textarea
				data-bind:message-send
				data-on:keydown="
					evt.key == 'Enter' && !evt.shiftKey
					&& (
						evt.preventDefault(),
						el.value != ''
						&& @post('/chat/message-send').then(() => (el.value = '', el.focus()))
					)"
				data-ignore-morph
				type="text"
				placeholder="Type your message..."
				autocapitalize="off"
				autocomplete="off"
				autocorrect="off"
				spellcheck="false"
				class="h-24 w-full p-2 bg-slate-500
						align-top 
						rounded-md
						focus:outline-none focus:ring-2 focus:ring-cyan-100
						focus:border-transparent transition duration-150
						resize-none"
			></textarea>
		</div>
	</div>
</body>